.g-post {
  padding: 20px 0;
  text-align: left;
  .u-header {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 10px;
    font-size: 29px;
    line-height: 52px;
    font-weight: 400;
    text-align: left;
  }
  .m-info {
    padding: 16px 10px;
    border-bottom: 1px solid #d3d3d3;
    font-size: 16px;
    color: #567;
    .u-item:not(:first-child) {
      margin-top: 16px;
    }
    .u-tag .u-link {
      color: #ffa500;
    }
  }
}
