<mat-sidenav-container class="container">
  <mat-sidenav #drawer class="sidenav-container" fixedInViewport #sideNav
    [attr.role]="(isHandset | async) ? 'dialog' : 'navigation'" [mode]="(isHandset | async) ? 'over' : 'side'"
    [opened]="(isHandset | async) === false">
    <app-sidenav-header></app-sidenav-header>
    <app-nav-list [activeRoute]="activeRoutePath"></app-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content-container">
    <app-layout-header [isHandset]="isHandset | async" (sidenavToggled)="drawer.toggle()"></app-layout-header>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>