.container, .sidenav-container , .content-container {
  height: 100%;
}

.sidenav-container {
  width: 240px;

  // background-color: #;
  
}

.content-container {
  background-color: #fcfcfc;
  .content {
    position: relative;
  }
  .sidenav-toggle {
    position: fixed;
    left: 0;
    top: 0;
  }
}
